.schedule {
  height: 100vh;
}

.trailer {
  margin-top: 10px;

  padding: 5px 10px;
  width: 200px;
  border-radius: 20px;
  text-align: start;
  font-size: 20px;
}

.btn-buy {
  margin-top: 30px;
  width: 300px;
  border: 2px solid white;
  background-color: #253740;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 30px;
}

.btn-buy:active {
  border: 2px solid rgb(197, 197, 197);
  background-color: #141f24;
}

.btn-buy a {
  text-decoration: none;
  color: #ffffff;
}
.btn-buy a:active {
  text-decoration: none;
  color: #ffee00;
}

.background-image {
  position: relative; /* Pastikan posisi relatif untuk pseudo-elemen */

  background-size: cover;
  background-position: center;
  padding: 20px 0;
  color: white;

  align-items: center;
  width: 100%;
}

.img-film {
  margin-top: 20px;
  max-width: 100%;
  height: 350px;
}

.img-cast {
  height: 200px;
  object-fit: inherit;
}

.footer-cast {
  height: 100px;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603); /* Warna hitam transparan */
  z-index: 1; /* Letakkan di belakang konten utama */
}

.background-image > * {
  position: relative;
  z-index: 2; /* Pastikan konten utama di atas overlay */
}

.picture-movie {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background-color: #141f24;
}

.custom-outline-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}

.nav-underline {
  display: flex;
  justify-content: center;
  border-bottom: transparent;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: transparent;
}

.nav-underline .nav-link {
  margin: 0 15px;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link.active {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
}

.deskripsi {
  text-align: justify;
}

@media (max-width: 768px) {
  .background-image {
    flex-direction: column;
    text-align: center;
  }

  .background-image .col-md-3,
  .background-image .col-md-9 {
    width: 100%;
    text-align: center;
  }

  .background-image .col-md-3 {
    margin-top: 0;
  }

  .background-image img {
    width: 80%;
    margin: auto;
  }
}
