html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* custom.css */
#sidebar-wrapper {
  width: 250px; /* Atur lebar sidebar sesuai kebutuhan */
  position: fixed;
  height: 100vh;
  padding-top: 20px;
  margin-top: 40px;
  background-color: #2c3541;
}

.list-group-item {
  background-color: #2c3541;
  color: #fff;
  font-weight: bold;
}

.content-wrapper {
  display: flex;
  margin-left: 250px; /* Sama dengan lebar sidebar */
  height: 100vh;
}

.container-fluid {
  margin-left: 250px;
  margin-top: 50px;
}

@media (max-width: 1000px) {
  /* custom.css */
  #sidebar-wrapper {
    width: 50px; /* Atur lebar sidebar sesuai kebutuhan */
    position: fixed;
    height: 100vh;
    margin-top: 40px;
  }

  .content-wrapper {
    display: flex;
    margin-left: 250px; /* Sama dengan lebar sidebar */
    height: 100vh;
  }

  .text-sidebar {
    display: none;
  }

  .container-fluid {
    margin-left: 50px;
    margin-top: 50px;
    width: 85%;
    margin-bottom: 200px;
  }
}
